$primaryColor1: hsl(1, 90%, 64%);
$primaryColor2: hsl(219, 85%, 26%);
$neutralColor1: hsl(0, 0%, 100%);
$neutralColor2: hsl(210, 60%, 98%);
$neutralColor3: hsl(211, 68%, 94%);
$neutralColor4: hsl(205, 33%, 90%);
$neutralColor5: hsl(219, 14%, 63%);
$neutralColor6: hsl(219, 12%, 42%);
$neutralColor7: hsl(224, 21%, 14%);
$fontSize: 1.6rem;
